* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	font-family: "Patrick Hand";
	z-index: 0;
}

:root {
	--asideTextColor: #eff6ee;
	--appContainerColor: #273043;
	--mainColor: #9197ae;
	--medium: #e1e7ef;
}

svg {
	fill: var(--asideTextColor);
	color: var(--asideTextColor);
}

svg:hover {
	fill: aquamarine;
}

.appContainer {
	background-color: var(--appContainerColor);
	display: grid;
	grid-template-columns: 1fr 20fr;
}

body {
	z-index: 1;
	background-color: black;
}

/* ASIDE */

aside {
	color: var(--asideTextColor);
	display: grid;
	grid-template-rows: 2fr 7fr;
	height: 100vh;
}

aside div {
	display: grid;
	justify-items: center;
	align-items: center;
}

.asideBottom {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
}

.asideBottom div {
	font-size: 4rem;
}

.asideBottom div:hover {
	color: #9197ae;
}

/* MAIN */
main {
	background-color: var(--mainColor);
}

.bookCardContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 5%;
	justify-items: center;
	margin: 5%;
	height: 100%;
}

/* BOOKCARD */
.bookCard {
	display: grid;
	background-color: var(--asideTextColor);
	padding: 15px;
	border-radius: 5%;
}

.bookCard img {
	width: 100%;
	height: 100%;
}

.bookCardTop {
	display: grid;
	gap: 5px;
	justify-items: start;
	grid-template-columns: 1fr 3fr;

	padding-bottom: 10px;
}

.bookCardTop h2 {
	text-align: center;
	font-size: 1.3em;
}

.bookTitle {
	display: flex;
	flex-direction: column;
}

.credits {
	display: flex;
	flex: 1;
	align-items: flex-end;
	justify-content: space-around;
}

.isRead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.isRead button {
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: green;
}

.isRead button:active {
	background-color: red;
}

.isRead p {
	font-size: 2em;
}

.descr {
	padding: 10px 0 10px 0;
	text-overflow: ellipsis;
}

.descr p {
	display: inline-block;
}
